@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  --color-bg: rgba(80, 111, 150, 0.07);
  --color-bgDim: white;
  --color-fg: #454545;
  --color-accent: darkred;
  --color-accent2: dodgerblue;

  --header-height: 76px;
  --footer-height: 60px;

  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  font-family: 'Roboto Slab', serif;
}
