body {
  --color-bg: rgb(243, 244, 247);
  --color-bgDim: white;
  --color-fg: #454545;
  --color-accent: #0284c7;
  --color-accent2: #14b8a6;
  --color-danger: #fd4646;
  --color-logo: #233434;
  --color-footer: rgba(255, 255, 255, 0.8);
  --color-border: lightgray;

  --header-height: 76px;
  --footer-height: 60px;

  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEpSURBVHgBrZQ9bsJAEIVffop04Qhbpgs3iG8Q0iVVnBMkN4hvQFJBBzfAnMCmpOMGHAHooII32lmBkL0eS37SJ6+1s6PR25kF7HKKSbewa0BSa/A97PokW3QsR9ZkA6Mdd7ApJXuyJE+kREcqSKIU6EgO3oYgsaPXdOhGgwaRmGeN+dL/P/JIFpEzuXRFuOlfTZBXBP5frKfkm7xcxYTi3nDVPQ7evwItBqHNuQze0xTNkirF8x8Y5TT5MBIz1JgELZVoNVXqoWFYYm+FQ/3Ny+XMEemmWGJ5G/KLCmdkgnOVJXlFS0mio34TeC+lfzNd93VvjZphqXsr3uGHRwZhTD70W5IdGZEHTXogKxglFsjl1PWm070QY1KwwdKbGYxvh6ivWOVQ0csn8Os7OIVw9qIAAAAASUVORK5CYII=);
}

body.dark {
  --color-bg: #141418;
  --color-bgDim: black;
  --color-fg: #dfdfdf;
  --color-accent: #cea6ff;
  --color-accent2: #1cd9c9;
  --color-danger: #f75e5e;
  --color-logo: white;
  --color-footer: rgba(0, 0, 0, 0.8);
  --color-border: #343434;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  font-family: 'Roboto Slab', Times, serif;
}
